{% extends 'base_generic.html' %}

{% block title  %}
    <title>Local Library -- author list</title>
{% endblock %}

{% block content %}
    <h1>Author List</h1>
    {% if author_list %}
        <ul>
        {% for author in author_list %}
            <li><a href="{% url 'author_detail' author.id %}">{{ author.last_name }}, {{ author.first_name }} (
                {% if author.date_of_death %}
                    {{ author.date_of_birth }} - {{ author.date_of_death }}
                {% else %}
                    {{ author.date_of_birth }}
                {% endif %})
            </a></li>
        {% endfor %}
        </ul>
    {% else %}
    <h2>Unfortunately, there no books in library now. Come later!</h2>
    {% endif %}
{% endblock %}